@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --color-light: #f8f8f8;
  --color-dark: #686868;
  --color-disabled: #cbcbcb;

  --media-md: 992px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.header-title {
  display: none;
  
  @media (min-width: 768px) {
    display: block;    
  }
}

.task-list {
  margin-bottom: 200px;
}